/* javajam.css */

body {
    font-family: 'Roboto', Arial, sans-serif; /* 'Roboto' google font */
    color: #333;
    background-color: #f0efeb;
    background-image: url('images/fadedroad50.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#wrapper {
    min-width: 900px;
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 3px 3px 3px #666;
}

header, nav, main, aside, footer {
    text-align: center;
}

header {
    background-color: #4b3832; /* Darker shade for the header */
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav {
    background-color: #be9b7b; /* Solid background color for better visibility */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline; /* Display nav items inline */
    margin-right: 20px; /* Spacing between nav items */
}

nav a {
    text-decoration: none;
    color: #4b3832; /* Adjusting color for contrast */
    font-size: 1.5em;
    padding: 5px 10px; /* Add some padding around the links */
}

nav a:hover {
    color: #f0efeb;
}

main {
    background-color: #fff; /* White background for main content */
    margin: 20px auto;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Soft shadow around main content */
    display: block; /* This helps with IE display issues */
}

main ul {
    list-style: none;
    padding-left: 0; 
}

main li {
    margin-bottom: 5px; /* Spacing between list items */
}

footer {
    font-size: small;
    margin-top: 20px;
    background-color: #4b3832;
    color: #fff;
    padding: 1em;
    border-top: 2px solid #8C3826;
}

h1 {
    font-size: 3em;
}

h2 {
    color: #4b3832;
}

h3, dt {
    color: #8C3826;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#homehero {
    height: 300px;
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
